<form class="form-block" data-set-page-info="" name="contestsForm" ng-submit="review()">

	<!-- content-main -->
	<div class="content-main">

		<!-- alert toast -->
		<toast-alert class="toast header-height" data-ng-class="{'is-closed': errors.alertClosed}" data-ng-if="errors.hasError">
			<div aria-live="polite" class="alert alert-warning" id="alert_main" role="alert">
        <span class="alert-icon">
          <svg aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
          </svg>
        </span>
				<p class="alert-text" translate>Something is wrong in the highlighted areas below. Please review and change them when needed.</p>
				<button class="btn alert-close" data-ng-click="dissmissToast()" title="{{'Close message'|translate}}" type="button">
					<svg aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
					</svg>
					<span class="sr-only" translate>Close</span>
				</button>
			</div>
		</toast-alert>

		<div class="container">

			<h1 class="sr-only" data-auto-focus tabindex="-1" translate>Choose</h1>
			<div class="page-header">
				<div breadcrumbs current-step-num="1"></div>
				<div class="page-title mtn">
					<p id="choose_info" translate>Click on the contest to collapse or expand the contest.</p>
				</div>
			</div>

			<!-- ballot-group -->
			<div class="ballot-group" data-ng-repeat="contest in elections" ng-class="{'has-error': contest.errors.length}">
				<div contest="contest" contest-chooser></div>
			</div>
			<!-- /ballot-group -->

		</div>
		<!--/container -->
	</div>
	<!-- /content-main -->

	<!-- navigation -->
	<nav class="container navigation">
		<h2 class="sr-only" id="title_navigation" translate>Continue process</h2>
		<div data-layout="row" data-layout-wrap>
			<div class="mbm" data-flex-xs="100">
				<button class="btn btn-primary btn-block" id="btn_review_your_choices" translate type="submit">Continue to review</button>
			</div>
			<div data-flex data-flex-xs="100">
				<a aria-expanded="false" class="btn btn-link has-icon" data-ng-click="cancelVote()" href="" id="btn_cancel">
					<svg aria-hidden="true" focusable="false" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
						<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
					</svg>
					<span translate>Cancel the process</span>
				</a>
			</div>
		</div>
	</nav>
	<!-- /navigation -->

</form>
