{
  "extends": [
	"eslint:recommended",
	"google",
	"./.eslintrc-drastic.json",
	"prettier"
  ],
  "parserOptions": {
	"ecmaVersion": 8,
	"sourceType": "module"
  },
  "env": {
	"es6": true,
	"browser": true,
	"node": true,
	"jasmine": true,
	"commonjs": true
  },
  "globals": {}
}