target
bin
.classpath
.project
.settings/
.idea/
*.iml
*.sw*
*~
node_modules/
npm-debug.log
yarn.lock
# Windows-generated lock files may be unusable
# in  Linux-based build environments.
package-lock.json
